<!DOCTYPE html>
<body>
<div *ngIf="challenge">
    <div class="form-container">

        <h4>add new challenge</h4>

        <mat-form-field ngDefaultControl>
            <input matInput name="title" placeholder="title" [(ngModel)]="challenge.title"/>
        </mat-form-field>

        <mat-form-field ngDefaultControl>
            <input matInput name="description" placeholder="description"
                   [(ngModel)]="challenge.description"/>
        </mat-form-field>

        <mat-form-field ngDefaultControl>
            <mat-datepicker-toggle matSuffix [for]="pickerFrom"></mat-datepicker-toggle>
            <mat-datepicker touchUi #pickerFrom></mat-datepicker>
            <input matInput [matDatepicker]="pickerFrom" placeholder="start date" [(ngModel)]="challenge.fromDate" >
        </mat-form-field>

        <mat-form-field ngDefaultControl>
            <mat-datepicker-toggle matSuffix [for]="pickerTo"></mat-datepicker-toggle>
            <mat-datepicker touchUi #pickerTo></mat-datepicker>
            <input matInput [matDatepicker]="pickerTo" placeholder="end date" [(ngModel)]="challenge.toDate">
        </mat-form-field>

        <mat-form-field>
            <mat-label>challenge state</mat-label>
            <mat-select name="addState" [(ngModel)]="challenge.state">
                <mat-option *ngFor="let s of states" [value]="s">
                    {{s.name}}
                </mat-option>
            </mat-select>
        </mat-form-field>

        <mat-form-field ngDefaultControl>
            <input matInput name="award1" placeholder="award first place" [(ngModel)]="challenge.award1"/>
        </mat-form-field>

        <mat-form-field ngDefaultControl>
            <input matInput name="award2" placeholder="award second place" [(ngModel)]="challenge.award2"/>
        </mat-form-field>

        <mat-form-field ngDefaultControl>
            <input matInput name="award3" placeholder="award third place" [(ngModel)]="challenge.award3"/>
        </mat-form-field>
    </div>

    <div>
        <h4>available tags</h4>
        <div>
            <mat-selection-list name="addParticipant" #tagList>
                <mat-list-option class="badge" name="participant-option"
                                 *ngFor="let tag of tags" [value]="tag.id">
                    {{tag.name}}
                </mat-list-option>
            </mat-selection-list>
        </div>
    </div>

    <div class="participants-container">
        <h4>available cheetahs</h4>
        <div>
            <mat-selection-list name = "addTag" #participantList>
                <mat-list-option class=badge name="tag-option"
                                 *ngFor="let participant of participants" [value]="participant.profileId">
                    {{participant.username}}
                </mat-list-option>
            </mat-selection-list>
        </div>
    </div>


    <ng-container class="::ng-deep.submit">
        <button mat-raised-button color="primary" (click)="addClicked(participantList.selectedOptions.selected, tagList.selectedOptions.selected)">add</button>
        <button mat-raised-button color="warn" (click)="cancelClicked()">cancel</button>
    </ng-container>
</div>
</body>