<div *ngIf="errorMessage">
    <p>Could not connect to server.<br>Please try again later...</p>
</div>

<div *ngIf="!errorMessage">
    <p>Global list of all participants that can be added to a challenge:</p>
    <div>
        <input id="idInput" #idInput (keydown)="onEnterPressed($event, idInput.value);" placeholder="Please type in profile id of the account to be added..." style="width: 70%;">
        <button (click)="addParticipant(idInput.value); idInput.value=''" style="width: 25%;">Add to global list
        </button>
    </div>
</div>

<div *ngIf="participants">
    <table>
        <tbody>
        <tr>
            <th>Image</th>
            <th>StackOverflow Profile ID</th>
            <th>Display Name</th>
            <th>Link to profile</th>
            <th>Action</th>
        </tr>
        <tr *ngFor="let p of participants">
            <td><img src="{{p.imageURL}}" alt="profile_image"></td>
            <td><span>{{p.profileId}}</span></td>
            <td><span>{{p.username}}</span></td>
            <td><a href="{{p.link}}" target="_blank">view profile</a></td>
            <td>
                <button (click)="deleteParticipant(p)">Delete</button>
            </td>
        </tr>
        </tbody>
    </table>
</div>
