<div *ngIf="challenge">
    <div class="form-container">
        <h3>Challenge '{{challenge.title}}' bearbeiten</h3>
        <mat-form-field>
            <input matInput name="title" placeholder="Titel" [(ngModel)]="challenge.title"/>
        </mat-form-field>

        <mat-form-field>
            <input matInput name="description" placeholder="Beschreibung"
                   [(ngModel)]="challenge.description"/>
        </mat-form-field>

        <mat-form-field>
            <mat-datepicker-toggle matSuffix [for]="pickerFrom"></mat-datepicker-toggle>
            <mat-datepicker touchUi #pickerFrom></mat-datepicker>
            <input matInput [matDatepicker]="pickerFrom" placeholder="Von Datum" [(ngModel)]="challenge.fromDate">

        </mat-form-field>

        <mat-form-field>
            <mat-datepicker-toggle matSuffix [for]="pickerTo"></mat-datepicker-toggle>
            <mat-datepicker touchUi #pickerTo></mat-datepicker>
            <input matInput [matDatepicker]="pickerTo" placeholder="Bis Datum" [(ngModel)]="challenge.toDate">
        </mat-form-field>

        <mat-form-field>
            <mat-label>Status</mat-label>
            <mat-select name = "state"  *ngIf="states" [(ngModel)]="states">
                <mat-option *ngFor="let s of states" [value]="s.id">
                    {{s.name}}
                </mat-option>
            </mat-select>
        </mat-form-field>

        <mat-form-field>
            <input matInput name="award1" placeholder="award first place" [(ngModel)]="challenge.award1"/>
        </mat-form-field>

        <mat-form-field>
            <input matInput name="award2" placeholder="award second place" [(ngModel)]="challenge.award2"/>
        </mat-form-field>

        <mat-form-field>
            <input matInput name="award3" placeholder="award third place" [(ngModel)]="challenge.award3"/>
        </mat-form-field>


        <!-- TODO Tags -->
        <mat-form-field>
            <input matInput name="tags" placeholder="Tags"/>
        </mat-form-field>

    </div>

    <div class="participants-container">
        <h3>participating cheethas</h3>
        <!-- TODO show participants -->
        <mat-selection-list>
            <mat-list-option name = "participants" *ngFor = "let participant of participants">
                {{participant}}
            </mat-list-option>
        </mat-selection-list>
    </div>

    <div class="submit">
        <button mat-raised-button color="primary" (click)="okClicked()">ok</button>
        <button mat-raised-button color="warn" (click)="cancelClicked()">cancel</button>
    </div>
</div>
